@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');
@import "reset.css";

body {
  margin: 0;
  background-color: #005BE5;
}

.bluepart {
  background-color: #005BE5;
  height: 1000vh;
  width: 30vw;
  display: inline-block;
  position: absolute;
}

.battery {
  /* background-color: red; */
  position: fixed;
  padding-top: 25vh;
  width: 30vw;
  height: 468px;
  z-index: 8;
}
.battery svg {
  position: fixed;
  margin: 0 15%;
  transform: translateX(-50%)
}
.batteryhidetop {
  width: 29vw;
  height: 27vh;
  position: fixed;
  background-color: #005BE5;
  z-index: 5;
}

.power {
  background: linear-gradient(180deg, rgba(0,91,229,1) 0%, rgba(156,203,255,1) 100%);
  width: 191px;
  height: 1000vh;
  margin: 0 51%;
  transform: translateX(-50%);
  z-index: -1;
}

.batteryhidebtm {
  width: 29vw;
  height: 26vh;
  position: fixed;
  background-color: #005BE5;
  z-index: 5;
  margin-top: 467px;
}

.batterytext {
  /* width: 1000vh; */
  /* height: 65px; */
  /* background-color: yellow; */
  display: flex;
  margin: 0 51%;
  padding-left: 37vh;
  transform: rotate(90deg) translateY(-50%);
  transform-origin: top left;
  position: absolute;
  z-index: 1;
}

.batterytext p {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 55pt;
  color: #fff;
  /* margin-right: 46vh; */
  width: 109vh;
  margin-bottom: -1vw;
  letter-spacing: 1.55pt;
}

/* WHITESLIDES */

.whiteslides {
  width: 68vw;
  height: 1000vh;
  position: absolute;
  margin-left: 30vw;
  display: inline-flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}

.whiteslides slide {
  width: 70vw;
  height: 100vh;
  margin: 0 0 9vh 0;
  overflow: hidden;
  background-color: #fff;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  -webkit-box-shadow: 2px 20px 40px -19px rgba(0,0,0,0.62);
  -moz-box-shadow: 2px 20px 40px -19px rgba(0,0,0,0.62);
  box-shadow: 2px 20px 40px -19px rgba(0,0,0,0.62);

}

.whiteslides slide h1 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 45pt;
  font-weight: bold;
  color: #005BE5;
  position: relative;
  padding-top: 23vh;
  padding-left: 140px;
  line-height: 107.5%;
  letter-spacing: 1.55pt;
}

.whiteslides slide p {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 24pt;
  font-weight: lighter;
  color: #3988FF;
  position: relative;
  padding-top: 39px;
  padding-left: 140px;
  width: 526px;
  line-height: 107.5%;
  letter-spacing: 1.55pt;
}


.whiteslides slide svg {
position: relative;
width: 64vw;
height: 64vh;
margin-left: 54vw;
margin-top: 15vh;
transform: translate(-50%, -50%);
}

#scrolldesk {
  position: relative;
  margin-top: 124px;
  margin-left: 140px;
}

#scrolldesktext {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 24pt;
  font-weight: lighter;
  color: #3988FF;
  position: relative;
  padding-left: 14px;
  line-height: 107.5%;
  display: inline-block;
  transform: translateY(-19px);
  letter-spacing: 1.55pt;
  width: 221px;
}
