@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');
@import "reset.css";

body {
  margin: 0;
  background-color: #005BE5;
}

.bluepart {
  background-color: #005BE5;
  height: 1000vh;
  width: 30vw;
  display: inline-block;
  position: absolute;
}

.battery {
  /* background-color: red; */
  position: fixed;
  padding-top: 25vh;
  width: 30vw;
  height: 468px;
  z-index: 8;
}
.battery svg {
  position: fixed;
  margin: 0 15%;
  transform: translateX(-50%)
}
.batteryhidetop {
  width: 29vw;
  height: 27vh;
  position: fixed;
  background-color: #005BE5;
  z-index: 5;
}

.batteryhidebtm {
  width: 29vw;
  height: 26vh;
  position: fixed;
  background-color: #005BE5;
  z-index: 5;
  margin-top: 466.7px;
}

.batterytext {
  /* width: 1000vh; */
  /* height: 65px; */
  /* background-color: yellow; */
  display: flex;
  margin: 0 51%;
  padding-left: 37vh;
  transform: rotate(90deg) translateY(-50%);
  transform-origin: top left;
  position: absolute;
}

.batterytext p {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 55pt;
  color: #fff;
  /* margin-right: 46vh; */
  width: 105vh;
  margin-bottom: -1vw;
}

/* WHITESLIDES */

.whiteslides {
  width: 68vw;
  height: 1000vh;
  position: absolute;
  margin-left: 30vw;
  display: inline-flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}

.whiteslides slide {
  width: 70vw;
  height: 100vh;
  margin: 0 0 5vh 0;
  overflow: hidden;
  background-color: #fff;
  -webkit-box-shadow: 2px 20px 40px -19px rgba(0,0,0,0.62);
-moz-box-shadow: 2px 20px 40px -19px rgba(0,0,0,0.62);
box-shadow: 2px 20px 40px -19px rgba(0,0,0,0.62);
}

.whiteslides slide h1 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 45pt;
  font-weight: bold;
  color: #005BE5;
  position: relative;
  padding-top: 23vh;
  padding-left: 140px;
  line-height: 107.5%;
}

.whiteslides slide p {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 24pt;
  font-weight: lighter;
  color: #3988FF;
  position: relative;
  padding-top: 15px;
  padding-left: 140px;
  width: 526px;
  line-height: 107.5%;
}

.whiteslides slide svg {
position: relative;
width: 64vw;
height: 64vh;
margin-left: 54vw;
margin-top: 15vh;
transform: translate(-50%, -50%);
}
